<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @my_task.username %>
</p>

<p>
  <strong>Task:</strong>
  <%= @my_task.task %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @my_task.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @my_task.end_date %>
</p>

<p>
  <strong>Accomplished flag:</strong>
  <%= @my_task.accomplished_flag %>
</p>

<%= link_to 'Edit', edit_my_task_path(@my_task) %> |
<%= link_to 'Back', my_tasks_path %>
