<%= form_with(model: my_task, local: true) do |form| %>
  <% if my_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(my_task.errors.count, "error") %> prohibited this my_task from being saved:</h2>

      <ul>
      <% my_task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :task %>
    <%= form.text_field :task %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.datetime_select :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.datetime_select :end_date %>
  </div>

  <div class="field">
    <%= form.label :accomplished_flag %>
    <%= form.number_field :accomplished_flag %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
